body {
  background-color: OldLace;
}

.container {
  width: 900px;
  margin: 0px auto;
  background-color: OldLace;
}

ul li {
  float: left;
}
ul li a {
  display: block;
  height: 50px;
  width: 175px;
  margin-right: 5px;
  text-align: center;
  line-height: 70px;
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
  font-size: 24px;
  padding-bottom: 10px;
  transition: all 0.5s ease;
}
ul li a:hover {
  padding-bottom: 5px;
  color: teal;
  border-bottom: 1px solid teal;
}
